.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: white;
}

.App-link {
  color: #61dafb;
}


.box {
  position: absolute;
  width: 70%;
  height: 70%;
  margin: 7.5% 15%;
  color: red;
}

.box img {
  cursor: pointer;
}

.box img::selection {
  background: transparent;
}

.holder button {
  margin: 5%;
  cursor: pointer;
  border: 1px solid #1a202c;
  padding: 8px;
  min-width: 64px;
  color: #337ad8;
}
.holder button::selection {
  background: transparent;
}